<div class="content-section content-section-about" id="about">
  <div class="content-section-inner">
    <div class="content-section-container">
      <h4></h4>
      <h2>Est. 1991.</h2>

      <p class="lead">
        <strong>We are one of the largest and most reputable</strong> scrap metal recyclers in the Mid-Atlantic Region.  With integrity and financial strength, coupled with a steadfast commitment to our customers, Baltimore Scrap Corp is recognized as a leader in the industry. 
      </p>
      <p>Baltimore Scrap Corp is comprised of 3 main companies, including, Industrial Metal Recycling and North Point Recycling (ferrous &amp; non-ferrous metals), along with <a href="#locations">10 satellite locations</a> in NJ, NY, PA, and VA.</p>
      <p>
        Known for competitive pricing, prompt service, and payment,  we offer a wide range of services for the transportation and processing of scrap metal from our diverse suppliers.
      </p>
      <p>
        Headquartered in South Baltimore and conveniently located near major highways, rail terminals, and the Port of Baltimore, Baltimore Scrap Corp has the flexibility to access  both domestic and foreign markets. We are honored to do our part in positively impacting the environment and supporting our customer base, while simultaneously creating and sustaining job growth for our dedicated workforce.
      </p>
    </div>
  </div>

  <div class="content-section-teaser">
    <div class="content-section-teaser-container">
      <a href="#service">Our services &raquo;</a>
    </div>
  </div>
</div>
