<div class="content-section content-section-about" id="about">
  <div class="content-section-container">
    <h4>.01</h4>
    <h2>Est. 1991</h2>

    <p class="lead">
      <strong>We are one of the largest and most reputable</strong> scrap metal recyclers in the Mid-Atlantic Region.  With integrity and financial strength, coupled with a steadfast commitment to our customers, BSC is recognized as a leader in the industry. 
    </p>
    <p>
      Known for competitive pricing, prompt service, and payment,  we offer a wide range of services for the transportation and processing of scrap metal from our diverse suppliers. Our three locations are able to assist customers in MD, DC, DE, VA, and PA. 
    </p>
    <p>
      Headquartered in South Baltimore and conveniently located near major highways, rail terminals, and the Port of Baltimore, BSC has the flexibility to access  both domestic and foreign markets. At BSC, we are honored to do our part in positively impacting the environment and supporting our customer base, while simultaneously creating and sustaining job growth for our dedicated workforce.
    </p>
  </div>

  <div class="content-section-teaser">
    <div class="content-section-teaser-container">
      <a href="#service">Our services &raquo;</a>
    </div>
  </div>
</div>
