<div class="content-section content-section-about" id="about">
  <div class="content-section-inner">
    <div class="content-section-container">
      <h4></h4>
      <h2>Est. 1991.</h2>

      <p class="lead">
        <strong>Baltimore Scrap Corp. is a Maryland-based scrap metal recycling company</strong> with locations in Baltimore, Dundalk, and Upper Marlboro. 
      </p>
      <p>The company and its affiliates are owned by the Simon family, who proudly traces their roots in the industry to 1916. The four family members and owners of Baltimore Scrap have over 130 years of combined experience in the recycling business.
      </p>
      <p>Baltimore Scrap Corp. and its affiliates throughout <a href="#locations">Pennsylvania, New York, New Jersey, and Virginia</a> provide fair pricing, timely service and direct access to steel mills globally, which allows us to enjoy a competitive advantage over other recycling companies in the region. Our companies ship our final products to consumers in North America via truck, rail, and barge, and via bulk cargoes and containers overseas. Despite the ups and downs of the economy and the scrap metal recycling industry, our financial strength and experience enables us to always buy scrap from our customers with prompt payment.</p>
      <p>
        Baltimore Scrap Corp. and our capable and friendly employees are always ready to meet your recycling needs.
      </p>
     
    </div>
  </div>

  <div class="content-section-teaser">
    <div class="content-section-teaser-container">
      <a href="#service">Our services &raquo;</a>
    </div>
  </div>
</div>
