<div class="content-section content-section-contact" id="contact">
<div class="content-section-container">

  <h4>.04</h4>
  <h2>
    Contact 
    <small>baltimore scrap corp.</small>
  </h2>

  <div class="contact-columns">

    <div class="contact-column">
      <p><a href="#">David Simon</a><br>
        President and Scrap Sales</p>

      <p><a href="#">Joseph Simonn</a><br>
      Vice President / GM</p>
               
      <p><a href="#">Jim Burnettn</a><br>
      Chief Financial Officer</p>
                   
      <p><a href="#">Chuck Leimbachn</a><br>
      Controller</p>
    </div>

    <div class="contact-column">
      <p><a href="#">David Simon</a><br>
        President and Scrap Sales</p>

      <p><a href="#">Joseph Simonn</a><br>
      Vice President / GM</p>
               
      <p><a href="#">Jim Burnettn</a><br>
      Chief Financial Officer</p>
                   
      <p><a href="#">Chuck Leimbachn</a><br>
      Controller</p>
    </div>

    <div class="contact-column">
      <p class="lead">BSC is proud of its reputation as an active and consistent participant in various community outreach  and youth initiative programs such as our long time sponsorship of the Baltimore/Curtis Bay Rec Center’s  Summer Camp for children 5-12 years of age. Our involvement with  both the South Baltimore Business Alliance and the Westphalia Sector Community Council reinforces our commitment to rigorous community participation.</p>

      <h5>Proud member of</h5>
      <a href="#">Institue of Scrap Recycling Institute
        South Baltimore Busines Alliance</a>
    </div>

  </div>

</div>  
</div>