<div class="content-section content-section-contact" id="contact">
<div class="content-section-container">

  <h4>.04</h4>
  <h2>
    Contact 
    <small>baltimore scrap corp.</small>
  </h2>

  <div class="contact-columns">

    <div class="contact-column">
      <p><a href="dsimon@baltimorescrap.com">David Simon</a><br>
        President and Scrap Sales</p>

      <p><a href="jsimon@baltimorescrap.com">Joseph Simonn</a><br>
      Vice President / GM</p>
               
      <p><a href="jburnett@baltimorescrap.com">Jim Burnett</a><br>
      Chief Financial Officer</p>
                   
      <p><a href="cleimbach@baltimorescrap.com">Chuck Leimbachn</a><br>
      Controller</p>
    </div>

    <div class="contact-column">
      <p><a href="mlupco@baltimorescrap.com">Michael Lupco</a><br>
        Operations Manage</p>

      <p><a href="cdarden@baltimorescrap.com">Colleen Darden</a><br>
      Office Manager</p>
               
      <p><a href="jross@baltimorescrap.com">Jeff Ross</a><br>
      Buyer</p>
                   
      <p><a href="dcox@baltimorescrap.com">Dana Cox</a><br>
      Weigh-master / Dispatcher</p>
    </div>



    <div class="contact-column">
      <p class="lead">BSC is proud of its reputation as an active and consistent participant in various community outreach  and youth initiative programs such as our long time sponsorship of the Baltimore/Curtis Bay Rec Center, Summer Camp for Children. Our involvement with  both the South Baltimore Business Alliance and the Westphalia Sector Community Council reinforces our commitment to rigorous community participation.</p>

      <h5>Proud member of</h5>
      <a href="#">Institute of Scrap Recycling <br>Institute
        South Baltimore Business Alliance</a>
    </div>
    

  </div>

</div>  
</div>