<div class="content-section content-section-home" id="home">
  <div class="content-section-container">
    <h1>Some nice big header.</h1>
    <h3>Recyclers of ferrous materials. Baltimore, MD.</h3>
  </div>
</div>