<div class="content-section content-section-home active-section" id="home">
  <div class="content-section-inner">

  <div class="content-section-container">
    <h1>Ferrous Material 
    	<br>Recyclers.</h1>
    <h3>Baltimore, Maryland</h3>
  </div>
</div>

<div class="content-section-teaser">
  <div class="content-section-teaser-container">
    <a href="#about">What we do &raquo;</a>
  </div>
</div>

</div>