<div class="content-section content-section-locations" id="locations">
  <div class="content-section-inner">

<div class="content-section-container">
    
      <h4>.03</h4>
      <h2>
        <small>Our Locations.</small>
      </h2>
    

    <div class="locations">
      <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>Baltimore Scrap Corp</strong></h3>
        <strong><a href="https://www.google.com/maps/place/3000+Vera+St,+Baltimore,+MD+21226/@39.2416858,-76.5766794,17z/data=!3m1!4b1!4m2!3m1!1s0x89c8024b43dd1171:0x2b12c40208e568b0" target="blank">3000 Vera Street</strong><br>
        Baltimore, MD 21226<br>
        410-355-4455<br>
        <small>Hours: Mon-Fri: 6:30am-3:30pm</small>
      </div>
     <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>Industrial Metal Recycling</strong></h3>
        <strong><a href="https://www.google.com/maps/place/9304+D'Arcy+Rd,+Upper+Marlboro,+MD+20774/@38.8510116,-76.8453628,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7be3988348985:0x9b58b06add6b4e46" target="blank">9304 Darcy Road</a></strong><br>
        Upper Marlboro, MD 20774<br>
        301-499-4129<br>
        <small>Hours: Mon-Fri: 7:00am-4:00pm</small>
      </div>
      <div class="location">
        <i class="icon icon-marker-2"></i>
        <h3><strong>North Point Recycling</strong></h3>
        <strong><a href="https://www.google.com/maps/place/2723+North+Point+Blvd,+Dundalk,+MD+21222/@39.2820994,-76.4885571,17z/data=!3m1!4b1!4m2!3m1!1s0x89c80730ef01a273:0xbaf06f8566566928" target="blank">2723 North Point Blvd</a></strong><br>
        Dundalk, MD 21226<br>
        410-284-7000<br>
        <small>Hours: Mon-Fri: 8:00am-4:30pm</small>
      </div>
    </div>
  </div>
</div>
<div class="content-section-teaser">
  <div class="content-section-teaser-container">
    <a href="#contact">Get in touch &raquo;</a>
  </div>
</div>

</div>