<div class="content-section content-section-locations" id="locations">
  <div class="content-section-inner">

<div class="content-section-container">
    
      <h4>.03</h4>
      <h2>
        <small>Our Locations.</small>
      </h2>
    

    <div class="locations">
      <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>Baltimore Scrap Corp</strong></h3>
        <strong>3000 Vera Street</strong><br>
        Baltimore, MD 21226<br>
        410-355-4455<br>
        <small>Hours: Mon-Fri: 6:30am-3:30pm</small>
      </div>
     <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>Industrial Metal Recyling</strong></h3>
        <strong>9304 Darcy Road</strong><br>
        Upper Marlboro, MD 20774<br>
        301-499-4129<br>
        <small>Hours: Mon-Fri: 7:00am-4:00pm</small>
      </div>
      <div class="location">
        <i class="icon icon-marker-2"></i>
        <h3><strong>North Point Recycling</strong></h3>
        <strong>2723 North Point Blvd</strong><br>
        Dundalk, MD 21226<br>
        410-284-7000<br>
        <small>Hours: Mon-Fri: 8:00am-4:30pm</small>
      </div>
    </div>
  </div>
</div>
<div class="content-section-teaser">
  <div class="content-section-teaser-container">
    <a href="#contact">Get in touch &raquo;</a>
  </div>
</div>

</div>