<div class="content-section content-section-locations" id="locations">
  <div class="content-section-inner">

<div class="content-section-container">
    
      <h4></h4>
      <h2>
        <small>Our Locations</small>
      </h2>
    

    <div class="locations">
      <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>Baltimore Scrap Corp</strong></h3>
        <strong><a href="https://www.google.com/maps/place/3000+Vera+St,+Baltimore,+MD+21226/@39.2416858,-76.5766794,17z/data=!3m1!4b1!4m2!3m1!1s0x89c8024b43dd1171:0x2b12c40208e568b0" target="blank">3000 Vera Street</strong><br>
        Baltimore, MD 21226<br>
        410-355-4455<br>
        <small>Hours: Mon-Fri: 6:30am-3:30pm</small>
      </div>
     <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>Industrial Metal Recycling</strong></h3>
        <strong><a href="https://www.google.com/maps/place/9304+D'Arcy+Rd,+Upper+Marlboro,+MD+20774/@38.8510116,-76.8453628,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7be3988348985:0x9b58b06add6b4e46" target="blank">9304 Darcy Road</a></strong><br>
        Upper Marlboro, MD 20774<br>
        301-499-4129<br>
        <small>Hours: Mon-Fri: 7:00am-4:00pm</small>
      </div>
      <div class="location">
        <i class="icon icon-marker-2"></i>
        <h3><strong>North Point Recycling</strong></h3>
        <strong><a href="https://www.google.com/maps/place/2723+North+Point+Blvd,+Dundalk,+MD+21222/@39.2820994,-76.4885571,17z/data=!3m1!4b1!4m2!3m1!1s0x89c80730ef01a273:0xbaf06f8566566928" target="blank">2723 North Point Blvd</a></strong><br>
        Dundalk, MD 21226<br>
        410-284-7000<br>
        <small>Hours: Mon-Fri: 8:00am-4:30pm Sat: 8:00am-11:30pm</small>
      </div>
    </div>
     <div class="locations">
      <div class="location">
        <h5>New Jersey</h5>
        <h6><strong>American Recycling</strong></h6>
        <strong><a href="https://www.google.com/maps/place/3113+NJ-50,+Mays+Landing,+NJ+08330/@39.515987,-74.664748,17z/data=!3m1!4b1!4m2!3m1!1s0x89c0dc1612ffed0f:0x2ea44ea871db356e" title="Mays Landing, NY" target="blank">3113 NJ-50</strong><br>
        Mays Landing, NJ 08330<br>
        609-965-2900<br>
      </div>
     <div class="location">
      <h5>New York</h5>
        <h6><strong>Union Scrap Processing</strong></h6>
        <strong><a href="https://www.google.com/maps/place/3484+Union+St,+North+Chili,+NY+14514/@43.106515,-77.797147,17z/data=!3m1!4b1!4m2!3m1!1s0x89d1530484ed300d:0x818a29f0c5d1c593" title="Rochester, NY area"target="blank">3484 Union Street</a></strong><br>
        North Chili, NY 14514<br>
        585-594-1600<br>
      </div>
      <div class="location">
        <h5>New York</h5>
        <h6><strong>Rubicon Recycling</strong></h6>
        <strong><a href="https://www.google.com/maps/place/7895+Tannery+Rd,+Rome,+NY+13440/@43.2469534,-75.5226781,17z/data=!3m1!4b1!4m2!3m1!1s0x89d9120751884f89:0xbc3231833aa6520b" title="Rome, NY" target="blank">7895 Tannery Road</a></strong><br>
        Rome, NY 13440<br>
        315-337-2233<br>
      </div>
    </div>

    <div class="locations">
      <div class="location">
        <h5>Pennsylvania</h5>
        <h6><strong>Coatesville Scrap Iron &amp; Metal Co</strong></h6>
        <strong><a href="https://www.google.com/maps/place/1000+S+1st+Ave,+Coatesville,+PA+19320/@39.9689839,-75.8195045,17z/data=!3m1!4b1!4m2!3m1!1s0x89c65bce3889ae85:0x50b8d069a5844060" title="Coatesville, PA" target="blank">1000 South 1st Avenue</strong><br>
        Coatesville, PA 19320<br>
        610-384-9230<br>
      </div>
     <div class="location">
        <h5>Pennsylvania</h5>
        <h6><strong>Penn Recycling</strong></h6>
        <strong><a href="https://www.google.com/maps/place/2525+Trenton+Ave,+Williamsport,+PA+17701/@41.234717,-77.0606987,17z/data=!3m1!4b1!4m2!3m1!1s0x89cfa902553101c1:0xf0f0613f7c6d408a" title="Williamsport, PA" target="blank">2525 Trenton Avenue</a></strong><br>
        Williamsport, PA 17701<br>
        570-326-9041<br>
      </div>
      <div class="location">
        <h5>Pennsylvania</h5>
        <h6><strong>Madison Salvage &amp; Recycling</strong></h6>
        <strong><a href="https://www.google.com/maps/place/177+Swartz+Rd,+Bloomsburg,+PA+17815/@41.1093557,-76.5984621,17z/data=!3m1!4b1!4m2!3m1!1s0x89cf78f5bc0c5b0d:0x2e9daff59cfc1c7c" title="Bloomsburg, PA" target="blank">177 Swartz Road</a></strong><br>
        Bloomsburg, PA 17815<br>
        570-458-5109<br>
      </div>
    </div>

    <div class="locations">
      <div class="location">
        <h5>Pennsylvania</h5>
        <h6><strong>Prospect Metal-New Oxford</strong></h6>
        <strong><a href="" target="blank">3640 York Road</strong><br>
        New Oxford, PA 17350<br>
        717-624-4158<br>
      </div>
     <div class="location">
        <h5>Pennsylvania</h5>
        <h6><strong>Prospect Metal-York</strong></h6>
        <strong><a href="https://www.google.com/maps/place/3640+York+Rd,+New+Oxford,+PA+17350/@39.8629724,-77.1177967,17z/data=!3m1!4b1!4m2!3m1!1s0x89c8543a6eec0dfd:0xae1dcd314ed661e1" title="Gettysburg, PA area"target="blank">4340 East Prospect Road</a></strong><br>
        York, PA 17406<br>
        717-755-9355<br>
      </div>
      <div class="location">
        <h5>Pennsylvania</h5>
        <h6><strong>Prospect Metal-Quakertown</strong></h6>
        <strong><a href="https://www.google.com/maps/place/4340+E+Prospect+Rd,+York,+PA+17406/@39.966382,-76.598263,17z/data=!3m1!4b1!4m2!3m1!1s0x89c885ad9cae1a67:0x5aeb1e4798bb8567" title="Quakertown, PA" target="blank">1575 Route 309</a></strong><br>
        Quakertown, PA 18951<br>
        215-536-6859<br>
      </div>
    </div>
    <div class="locations">
      <div class="location">
        <h5>Virginia</h5>
        <h6><strong>Valley Recycling</strong></h6>
        <strong><a href="https://www.google.com/maps/place/81+Shoffner+Ln,+Fishersville,+VA+22939/@38.0963149,-78.9785244,17z/data=!3m1!4b1!4m2!3m1!1s0x89b360544de390f7:0x36f8c8c8cb92555d" title="Fishersville, VA" target="blank">81 Shoffner Lane</strong><br>
        Fishersville, VA 22939<br>
        540-941-1808<br>
      </div>
    </div>
      
  </div>
</div>
<div class="content-section-teaser">
  <div class="content-section-teaser-container">
    <a href="#contact">Get in touch &raquo;</a>
  </div>
</div>

</div>