<div class="content-section content-section-locations" id="locations">
<div class="content-section-container">
    
      <h4>.03</h4>
      <h2>
        <small>our locations</small>
      </h2>
    

    <div class="locations">
      <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>3000 Vera Street</strong></h3>
        <strong>Baltimore, MD 21226</strong><br>
        Hours: Mon-Fri: 6:30am-3:20pm<br>
        410-355-4455
      </div>
      <div class="location">
        <i class="icon icon-marker-1"></i>
        <h3><strong>3000 Vera Street</strong></h3>
        <strong>Baltimore, MD 21226</strong><br>
        Hours: Mon-Fri: 6:30am-3:20pm<br>
        410-355-4455
      </div>
      <div class="location">
        <i class="icon icon-marker-2"></i>
        <h3><strong>3000 Vera Street</strong></h3>
        <strong>Baltimore, MD 21226</strong><br>
        Hours: Mon-Fri: 6:30am-3:20pm<br>
        410-355-4455
      </div>
    </div>
  </div>
</div>