<div class="content-section content-section-service" id="service">
  <div class="content-section-inner">

  <div class="content-section-container">
    <h4></h4>
    <h2>
      Baltimore
      <small style="line-height: 55px">Scrap Corp</small>
    </h2>

    <p class="lead">
      Purchases scrap metal from industry, government, auto salvage yards, demolition contractors, and farms, as well as from the general public. </p>
      <p>
      For the collection of customer material, roll-off containers of various sizes are offered, including: 
</p>
      <ul>
        <li>Roll-off containers from 20-50 cubic yards</li>
        <li>90 cubic yard dump trailers</li>
        <li>Flat bed trailers</li>
        <li>Car trailers</li>
      </ul>
    
    
    <p>
       Capabilities include processing most ferrous material through the utilization of a heavy duty auto shredder, mobile shears, and torch cutting.
    </p>
    
    <p>
      <strong>Please call 410-355-4455</strong> or <a href="mailto:jross@baltimorescrap.com">email for current pricing</a> and any questions concerning acceptable and unacceptable materials. 
    </p>
  </div>
</div>
<div class="content-section-teaser">
  <div class="content-section-teaser-container">
    <a href="#locations">Our locations &raquo;</a>
  </div>
</div>

</div>
