<div class="content-section content-section-service" id="service">
  <div class="content-section-container">
    <h4>.02</h4>
    <h2>
      Industrial 
      <small>metal recycling.</small>
    </h2>

    <p class="lead">
      Baltimore Scrap Corporation is equipped with 2 Maryland State certified 70’ truck scales with large digital readouts. We purchase scrap metal from industry, government, auto salvage yards, demolition contractors, and farms, as well as the general public. </p>
      <p>
      For the collection of our customer’s material we offer roll-off containers of various sizes, including: 
</p>
      <ul>
        <li>Roll-off containers from 20-50 cubic yards</li>
        <li>90 cubic yard dump trailers</li>
        <li>Flat bed trailers</li>
        <li>Car trailers</li>
      </ul>
    
    
    <p>
       We are capable of processing most ferrous material through the utilization of a Hammermill 98” Heavy Duty Auto Shredder, mobile shears, and torch cutting.
    </p>
    
    <p>
      <strong>Please call 410-355-4455</strong> for current pricing and any questions concerning acceptable and unacceptable materials.
    </p>
  </div>
<div class="content-section-teaser">
  <div class="content-section-teaser-container">
    <a href="#locations">Our locations &raquo;</a>
  </div>
</div>

</div>
