<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Baltimore Scrap Corp</title>

    <!-- build:css styles/main.css -->
    <link href="vendor/normalize-css/normalize.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->

    <link href="https://fontastic.s3.amazonaws.com/Cpm7GmZ83vzUDTMCV3cDDF/icons.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//use.typekit.net/qyw4epb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  </head>
  <body>

    <div id="wrapper">
      <div class="main-nav">
        <a href="#home" class='branding'>
          <img src="images/logo.svg">
        </a>

        <ul class="sidemenu">
          <li><a href="#home" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#locations">Locations</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      
      <%- yield %>
    </div>

    <!-- build:js scripts/main.js -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="vendor/gsap/src/uncompressed/TimelineLite.js"></script>
    <script src="vendor/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="vendor/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>

    <script src="scripts/main.js"></script>

    <script src="scripts/scenes/bg.js"></script>
    <script src="scripts/scenes/home.js"></script>
    <script src="scripts/scenes/about.js"></script>
    <!-- endbuild -->

  </body>
</html>