<div class="scenes">

  <ul class="scene">
    <li class="layer bottom cranes-mini"><img src="images/scenes/cranes-mini.svg"></li> <!-- cranes -->
    <li class="layer bottom car-piles-small"><img src="images/scenes/car-piles-1.svg"></li> <!-- car piles -->
    <li class="layer crane-topper"><img src="images/scenes/crane-topper.svg"></li> <!-- large crane -->
  </ul>

  <ul class="scene">
    <li class="layer bottom car-piles-large"><img src="images/scenes/cars-pile-2.svg"></li>
    <li class="layer bottom car-crushed"><img src="images/scenes/car-crushed.svg"></li>
  </ul>

  <ul class="scene">
    <li class="layer bottom crusher"><img src="images/scenes/machine.svg"></li>
  </ul>

  <ul class="scene">
    <li class="layer bottom factory"><img src="images/scenes/factory.svg"></li>
  </ul>

</div>

<ul class="scenes-static-assets">
  <li class="layer bottom city city-light"><img src="images/scenes/city-1.svg"></li>
  <li class="layer bottom city city-dark"><img src="images/scenes/city-2.svg"></li>
</ul>